#loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light);
  color: var(--primary);
  font-size: 3rem;
  opacity: 1;
  transition: all 0.5s linear;
  z-index: 1000;
}

#loader.remove {
  opacity: 0;
  z-index: -1000;
}
