:root {
  font-size: 18px;
  --black: #17202d;
  --primary: #4a576b;
  --secondary: #8c97a9;
  --light: #afb7b9;
  --code: #b3b6c5;

  --border: 1px solid var(--black);
}

/* GENERAL */
body {
  font-family: 'Baskervville', serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  color: var(--black);
}

.home-link {
  width: 1rem;
  height: 1rem;
  color: var(--light);
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  z-index: 2;
  font-size: 2rem;
}

main {
  min-height: calc(100vh - 5.25rem);
  min-height: calc(100dvh - 5.25rem);
  height: 100%;
  margin: 3rem 0.5rem 0.5rem;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: var(--border);
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 3rem);
  max-width: 768px;
  margin: 3rem auto 0;
}

.wrapper {
  width: 100%;
  margin: 0 0.5rem 1rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(15px);
  border: var(--border);
}

h1 {
  color: var(--primary);
  font-size: 3rem;
  font-style: italic;
  margin: 0 auto 2rem;
  padding-bottom: 1rem;
  border-bottom: var(--border);
}

h2 {
  word-break: break-word;
  font-size: 1.5rem;
}

a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--primary);
}

button,
.button-container a {
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Baskerville', serif;
  color: var(--black);
  background-color: transparent;
  border: var(--border);
  padding: 0.5rem 1rem;
  margin: 1rem 0 0;
  transition: all 0.1s;
}

button:hover,
.button-container a:hover {
  background-color: var(--secondary);
}

/* list styles */
ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: var(--light);
}

.scores {
  padding: 0.25rem 0;
  border-bottom: 1px solid;
  width: fit-content;
  padding-top: 1rem;
  position: absolute;
  top: -0.25rem;
  right: 1.75rem;
}

.timer {
  position: fixed;
  right: 0;
  width: fit-content;
  margin: 0.5rem 0 0 auto;
  padding: 1rem;
  background: white;
  border: var(--border);
  border-right-color: transparent;
  font-size: 1.5em;
  font-style: italic;
  text-transform: lowercase;
  box-shadow: 1px 5px 5px rgba(23, 32, 45, 0.21);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 2;
}

.timer.show {
  opacity: 1;
  transform: translateX(0);
}

/* UTILITY */
.hide {
  display: none !important;
}

.reveal {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.reveal.show {
  opacity: 1;
}

/* START */
.start-options-wrapper {
  display: flex;
}

.inline-input-group:not(:last-child) {
  margin-right: 2rem;
}

.inline-input-group label {
  line-height: 1;
  vertical-align: top;
  font-style: italic;
  text-transform: lowercase;
}

input[type='radio'] {
  position: relative;
  appearance: none;
  background-color: transparent;
  font: inherit;
  margin: 3px 0 0;
  color: white;
  width: 1rem;
  height: 1rem;
  border: var(--border);
  border-radius: 50%;
  overflow: hidden;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
  box-shadow: inset 1rem 1rem white;
}

input[type='radio']:checked::before {
  transform: scale(1);
}

input[type='radio']:checked + label {
  font-weight: bold;
}

#start {
  font-size: 1.2rem;
  background-color: white;
  border: var(--border);
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#start:hover {
  color: var(--light);
  background-color: var(--black);
}

.input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: var(--border);
}

.input-group > * {
  margin: 0.5rem;
}

input[type='text'] {
  font-size: 1rem;
  padding: 0.5rem 0;
  flex-grow: 1;
}

.input-group button {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.description-toggle {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.difficulty-description {
  margin: 0 0 1rem 0;
  padding: 0.5rem 0 0;
  border-top: 1px solid var(--primary);
  opacity: 0;
  max-height: 0;
  transform: translateY(-0.5rem);
  transition: opacity 0.3s ease-in-out, max-height 0.4s ease-in-out,
    transform 0.3s ease-in-out;
  background: inherit;
}

.difficulty-description.show {
  max-height: fit-content;
  opacity: 1;
  transform: translate(0);
}

/* QUESTIONS */
#questions {
  min-height: 300px;
}

#question-title:not(:has(pre)) code,
.choices button code {
  background: var(--code);
  border-radius: 0.5rem;
  vertical-align: middle;
}

#question-title:not(:has(pre)) code {
  font-size: 1.2rem;
  padding: 0.5rem;
}

#question-title pre {
  width: fit-content;
  margin-bottom: -1rem;
  padding: 0 0.5rem 0 0;
  background: var(--code);
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.2;
}

code {
  pointer-events: none;
}

.choices button {
  width: 100%;
  position: relative;
  font-size: 1.2rem;
  text-align: left;
}

.choices .correct {
  background-color: #63978a;
  color: white;
}

.choices .wrong {
  background-color: #9e5a78;
  color: white;
}

.choices button:before {
  content: attr(data-index);
  height: inherit;
  width: 10px;
  position: relative;
  padding: 0 0.5rem 0 0;
  color: rgba(255, 255, 255, 0.5);
}

.choices code {
  font-size: 1.15rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  vertical-align: text-top;
}

.feedback {
  font-style: italic;
  margin-top: 1.5rem;
  padding-top: 1rem;
  opacity: 0;
}

.feedback.show {
  opacity: 1;
}

/* END SCREEN */
.subtitle,
#final-score {
  font-weight: bold;
}

.button-container a {
  margin: 1rem 1rem 0 0;
}

/* HIGHSCORES */
#highscores,
#highscores table {
  width: 100%;
}

#highscores table {
  padding-bottom: 2rem;
}

#highscores th {
  text-align: left;
  font-size: 1.2rem;
  text-transform: lowercase;
}

#highscores tbody tr {
  font-size: 1.5rem;
}

#highscores tbody tr td:first-child {
  color: var(--secondary);
  font-weight: bold;
}

#highscores tbody tr td:nth-child(n + 1) {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* FOOTER */
footer p {
  display: flex;
  color: var(--light);
  margin: 0.5rem;
  font-size: 1rem;
}

/* EXTRAS */
/* arrow by https://codepen.io/simonbreiter/pen/oLJrKy*/
#description-toggler {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
}

#description-toggler::before,
#description-toggler::after {
  content: '';
  display: inline-block;
  width: 0.6rem;
  height: 0.1rem;
  position: absolute;
  top: 0.5rem;
  background-color: var(--black);
  transition: all 0.2s ease;
}
#description-toggler:before {
  left: 0;
  transform: rotate(45deg);
}
#description-toggler:after {
  right: 0;
  transform: rotate(-45deg);
}
#description-toggler.active:before {
  transform: rotate(-45deg);
}
#description-toggler.active:after {
  transform: rotate(45deg);
}
/* speaker icon by https://codepen.io/atesgoral/details/RLPGaZ */
.speaker {
  background: currentColor;
  background-clip: content-box;
  width: 1em;
  height: 1em;
  border: 0.333em solid transparent;
  border-right-color: currentColor;
  position: absolute;
  top: 1.1rem;
  left: 3rem;
  appearance: none;
}

.speaker.on:before,
.speaker.on:after {
  content: '';
  background: currentColor;
  width: 0.1em;
  position: absolute;
}

.speaker.on:before {
  height: 0.333em;
  right: -0.533em;
}

.speaker.on:after {
  height: 0.667em;
  right: -0.733em;
  top: -50%;
}

.speaker.off:before,
.speaker.off:after {
  content: '';
  background: currentColor;
  width: 0.1em;
  position: absolute;
  height: 1.2em;
  margin-top: -0.333em;
  top: -0.1em;
  left: 0.15em;
  transform: translateX(0.333em) rotate(-45deg);
}

.speaker.off:before {
  background: #04233d;
  left: 0.2em;
}

/* MEDIA */
@media (min-width: 992px) {
  .home-link {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }

  main {
    height: calc(100vh - 2rem);
    height: calc(100dvh - 2rem);
    margin: 1rem 1rem 1rem 5rem;
    position: relative;
    overflow: hidden;
  }

  .wrapper {
    width: 90%;
    margin: 0 1rem;
    padding: 2rem 4rem 1.5rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .scores {
    left: 1rem;
  }

  .timer {
    position: absolute;
    top: 0.5rem;
    font-size: 2.5em;
    transform: translateX(2rem);
  }

  .choices button {
    font-size: 1.35rem;
  }

  .choices button:before {
    position: absolute;
    top: 0;
    left: -1.5rem;
    font-size: 2rem;
  }

  #end-screen span.subtitle,
  #end-screen p:first-of-type {
    display: inline;
  }

  #highscores tbody tr td:first-child {
    width: 15%;
  }

  .speaker {
    top: auto;
    left: 1.5rem;
    bottom: 2rem;
  }

  footer p {
    transform: rotate(-90deg);
    position: absolute;
    left: -3rem;
    top: 50%;
  }
}
