:root {
  font-size: 18px;
  --black: #17202d;
  --primary: #4a576b;
  --secondary: #8c97a9;
  --light: #afb7b9;
}
body {
  font-family: 'Baskervville', serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  color: var(--black);
}

h1 {
  color: var(--primary);
  font-size: 3rem;
  font-style: italic;
  margin: 0 auto 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--primary);
}

button {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Baskerville', serif;
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--black);
  padding: 0.5rem 1rem;
  margin: 1rem 0 0;
  transition: all 0.1s;
}

#start {
  font-size: 1.2rem;
  background-color: var(--secondary);
  border: 1px solid var(--black);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button:hover {
  background-color: var(--secondary);
}

#start:hover {
  color: var(--light);
  background-color: var(--black);
}

.choices button {
  display: block;
}

input[type='text'] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: var(--light);
}

main {
  height: 100vh;
  height: 100dvh;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  margin: 0 1rem;
  padding: 4rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border: 1px solid var(--black);
}

#questions {
  min-height: 300px;
}

.subtitle {
  font-weight: bold;
}

.scores,
.timer {
  position: absolute;
  top: 1em;
}

.scores {
  left: 1em;
  padding: 0.25rem 0;
  border-bottom: 1px solid;
}

.timer {
  right: 1em;
  font-size: 2rem;
}

.feedback {
  font-style: italic;
  margin-top: 1.5rem;
  padding-top: 1rem;
  opacity: 0;
}

.feedback.show {
  opacity: 1;
}

.hide {
  display: none;
}
